<div>


  <div class="user-form user__form--low">
    <h1>Sign Up</h1>
      <p class="lead">Enter for a chance to win free laundry for a year</p>

        <br><br><br>
        <%= render 'form' %>
  <div>

</div>
