<div class="user-image-background">


  <div class="user-form">
    <h4 class="title"> Enter for a chance to win laundry for a year </h4>
    <%= render 'form' %> 
  <div>

  <%= link_to 'Back', "/" %>
</div>