<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("dormVipLogoColor.png", class: "navbar__image"), "#page-top"%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li>
                <a class="page-scroll" id="navbar__link" href="#services">Products</a>
            </li>
            <li>
                <a class="page-scroll" id="navbar__link" href="users/new">Sign Up</a>
            </li>
          </ul>

          <div class="nav navbar-nav icon__row--nav">
            <a href="mailto:max@dormvip.com"> <%= fa_icon "envelope-o 2x", class:  "wow bounceIn top-logo" %> <a/>
            <a href="https://www.instagram.com/dormvip"> <%= fa_icon "instagram 2x", class: "wow bounceIn top-logo" %> </a>
            <a href="https://www.facebook.com/dormvip"> <%= fa_icon "facebook-official 2x", class: "wow bounceIn top-logo" %> </a>
          </div>
        </div>

      </div>


      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
