<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= link_to image_tag("LogoBlack.png", class: "navbar__image"), "/"%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" id="navbar__link" href="#about">About</a>
              </li>
              <li>
                  <a class="page-scroll" id="navbar__link" href="#services">Products</a>
              </li>
              <li>
                  <a class="page-scroll" id="navbar__link" href="#portfolio">Cool Stuff</a>
              </li>
              <li>
                  <a class="page-scroll" id="navbar__link" href="#contact">MyDormVip</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
