<div class="container-fluid"> 
  
  <div class="panel-header">
    <%= @bundle.title %> 
  </div>
  <div class="panel-body"> 
    <%= @type %> 
    <%= @bundle.number_of_products %> 
    <%= @bundle.total_price %>
  </div>
<div>