<div class="container-fluid"> <%= @bundle.title %> 
  <div class="panel-header"><%= @type %> </div>
  <div class="panel-body"> 
    <%= @bundle.number_of_products %> 
    <%= @bundle.total_price %>
  </div>
<div>