.navbar__image {
  height: 73px;
}

#mainNav {
  background-color: transparent;
}

.navbar-container__logo--image {
  position: relative;
  height: 100%;
}

.navbar-container__login {
  position: relative;
  color: white;
}

#header-content-inner--pull-down {
 margin-top: 150px;
 font-weight: 100;
 color: black;
}

#vip {
  font-weight: 300;
}

// 282E36