.affix {
  background-color: #222 !important;
}

.affix-top {
  border: none;
}

.navbar__image {
  width: 35%;
}

#navbar__link {
  // font-family: "Dorm-font";
  font-weight: 300;
  text-transform: capitalize;
  font-size: 20px;
  color: #f05f40;
}

#mainNav {
  background-color: transparent;
}

.navbar-container__logo--image {
  position: relative;
  height: 100%;
}

.navbar-container__login {
  position: relative;
  color: white;
}

#header-content-inner--pull-down {
 margin-top: 150px;
 font-weight: 100;
 color: black;
}

#vip {
  font-weight: 300;
}

.icon__row--nav {
  margin-right: 20px;
  margin-top: 11px
}

.top-logo {
  color: white;
  margin-left: 20px;
}

// 282E36
