//new orders page

.selectboxit-container.jqueryui {
  margin: 15px 0 15px 0;
}


.order-form__input {
  width: 33%;
}



// show page
.show-order-table {
  margin: 150px auto;
  width: 60%;
  color: white;
  font-size: 15px;
  td {
    padding: 30px;
  }
  th {
    padding: 10px;
  }
}

.middle {
  margin: 0 43%;
}
