// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form {
  text-align: center;
  color: white;
}
.edit-user-form {
  text-align: center;
  margin-top: 200px;
}

.user-image-background {
  height: 100%;
  background: url(image_path("dormvipProspect.png")) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.user__form--low {
<<<<<<< HEAD
  margin-top: 100px
=======
  margin-top: 150px
>>>>>>> develop
}

.user__button {
  height: 109%;
}

#top-field {
  border-bottom-left-radius: 0;
}


#bottom-field {
  border-bottom-left-radius: 5px;
}

.error-box {
  background-color: red;
}
