@font-face {
  font-family: "Dorm-font";
  src: url("assets/gotham-rounded-bold.otf") format ('open type');
}


.white {
  color: white;
}


input {
  font-size: 12px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.8);
  margin: 0 0 10px 0;
}
