
<% if @products %>
  <% @products.each do |product| %>
    <div class="container-fluid">
      <div class="panel body">
        <%= product.title %>
        <%= product.price %>
        <%= product.description %>
      </div>
    </div>
  <% end %>
<% end %>
 