<nav class="navbar navbar-container">
    <div class="navbar-container__logo">
      <%= image_tag "dormVipLogo.png", :class=> "navbar-container__logo--image" %>
    </div>
    <a href="/" class="navbar-container__login">
      Login
    </a>
</nav>
